{% load i18n static %}
<!DOCTYPE html>
{% load tailwind_cli %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
{% if messages %}
<div>
    <strong>{% trans "Messages:" %}</strong>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}{% endblock content %}

</body>
</html>
